.el-card--header--img--doos {
    .el-card__header {
        border-bottom: 1px solid #535353;
    }

    .el-form-item__label {
        padding: 0;
    }

    .el-table__expand-icon {
        position: absolute;
        left: 50px;
        z-index: 5;
    }
    .cell{
        margin-left: 20px;
    }
}